<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Presenter.Properties.Settings.SqlServer" connectionString="Data Source=DESKTOP-TITUCRB;Initial Catalog=rms;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>