div .panel {
    background-color: #d3d3d3;
    margin: 1em;
    padding: 1em;
    border-width: thin;
    border-color: grey;
    border-left-width: thick;
    border-left-style: solid;
}

    div .panel h1 {
        text-align: left;
    }

        div .panel h1 + p {
            text-align: left;
        }

    div .panel .information {
        background-color: cadetblue;
        border-left-color: cornflowerblue;
    }

    div .panel .warning {
        background-color: olive;
        border-left-color: yellow;
    }

    div .panel .error {
        background-color: #ffc0c0;
        border-left-color: indianred;
    }
